@media (max-width:1015px){
.nav-list a{
    font-size: 10px;
}

}
@media (max-width:785px){
.nav-left img{
    margin-left: 80px;
}
.nav-list a{
    font-size: 8px;
}
.new h5, .upcoming-header h5{
    font-size: 10px;
}
.social i{
    font-size: 2.5rem;
}
.social h4{
    font-size: 15px;
    line-height: ;
}
.ourChurch{
    margin-bottom: 80px;
}
.footer{
    padding: 5% 2%;
    width: 90%;
    font-size: 15px;
}
.contact-header{
    font-size: 20px;
}
.copyright{
    font-size: 12px;
}

}
@media (max-width:636px){
#navigation{
    display: flex;
    align-items: baseline;
    padding: 2% 4%;
}
.nav-cont{
    display: block;
    align-items:baseline;
    padding: 1.5% 0;
}
.nav-left img{
    width: 100px;
    margin-left: 80px;
}
.nav-right ul{
    display: block;
}
.nav-right{
   margin: 0;
   width: 100%;
   display: none;
}
.nav-list a{
    font-size: 12px;
}
.nav-list{
    padding: 6% 2%;
    transition: all ease-in-out .5s;
}
.home-img img{
    margin: 100px 0;
    width: 45%;
}
.hamburger{
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
    color: #03AF09;
}
.close{
    display: none;
}
#section2{
    display: block;
    padding: 12% 7% 12% 12%;
    /* text-align: center; */
}
#section2 hr{
    height: 20px;
    width: .25%;
    margin: 30px auto;
    background-color: #0F6212;
    display: none;
 }
 .new h5{
    font-size: 12px;
    font-weight: lighter;
}
.upcoming-header h5{
    font-size: 15px;
}
 .new span a{
    padding: 10px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    border-radius: 5px;

}
 #section3{
    text-align: center;
    margin: 6% 0;
}
 .upcoming-cont{
    display: block;
    justify-content: center;
    width: 75%;
    margin: 2% auto;
}
.upcoming{
    margin: 50px 2%;
}
#section4{
    background-color: #03AF09;
    padding: 9% 7%;
    justify-content: center;
}
.media-cont{
    justify-content: center;
}
.media{
    display: none;
}
.mob-social{
    display: block;
}
.mob-social h5{
    text-align: center;
    font-size: 12px;
    margin: 2% 2% 5%;
    color: rgb(229, 226, 226);
}
.social{
    margin: 0 10px;
}
.social i{
    font-size: 1.8rem;
}
.footer{
    display: block;
    align-items: center;
    padding: 17% 3% 2%;
    font-family: "Raleway";
    color: rgb(221, 220, 220);
    width: 90%;
    margin: 0 auto;
}
.about h3, h4, .ourChurch{
    font-size: 15px;
}
.ourChurch{
    font-size: 12px;
    padding: 6px 12px;
    margin-bottom: 5%;;
}
.contact{
    margin: 100px 4%;
}
.contact-header{
    font-size: 15px;
}
.footer, .copyright{
    font-size: 12px;
}
label{
    text-transform: uppercase;
    margin: 5% 0;
}
.topButton i{
    display: block;
}
}
@media (max-width:425px) {
    .nav-left img{
        width: 100px;
        margin-left: 150px;
    }
}

@media (max-width: 310px) {
    .nav-left img{
        width: 100px;
        margin-left: 0;
    }
}