*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
@font-face {
    font-family: "Black-tower";
    src: url("Fonts/blacktower.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("Fonts/Raleway-Medium.ttf");
}

/* NAVIGATION */
.hamburger{
    display: none;
}
.nav-cont{
    display: flex;
    align-items: center;
    padding: 1.5% 0;
}
.nav-left img{
    width: 120px;
    margin-left: 150px;
}
.nav-right{
    margin-left: auto;
    width: 70%;
}
.nav-right ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-list a{
    text-decoration: none;
    text-transform: uppercase;
    color: #0F6212;
    font-family: "Raleway";
    letter-spacing: 1px;
    font-weight: bold;
    transition: all ease-in-out .5s;
    font-size: 15px;
}
.active a{
    color: #03AF09;
}
.nav-list i{
    font-weight: light;
    color: #0F6212;
    font-size: 1.2rem;
}
.nav-list{
    padding: 3%;
    transition: all ease-in-out .5s;
}
.nav-list:hover{
    border-top: 3px solid #03AF09;
}
.nav-list a:hover{
    color: #03AF09;
    }
/* HEADER */
.carousel-item{
    /* height: 85vh; */
    /* object-fit: contain; */
}
#newSlide{
    position:relative
}
#header{
    position: absolute;
    width: 100%;
    top: 0;
    /* background: rgb(2,71,2);
    background: linear-gradient(180deg, rgba(2,71,2,0.5) 0%, rgba(73,215,10,0.5) 0%, rgba(82,240,6,0.5) 43%, rgba(2,20,41,0.5) 100%); */
    text-align: center;
}
.home-img img{
    margin: 200px 0;
    width: 45%;
}

 /* SECTION 2 */
#section2{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 5%;
    background-color: #D6E5FA;
    align-items: center;
}
#section2 hr{
    height: 70px;
    width: .25%;
    background-color: #0F6212;
 }
.new{
    margin: 0 auto;
}
.new h5, .upcoming-header h5{
    text-transform: uppercase;
    color: #0F6212;
    font-family: "Black-tower";
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 100;
}
.new span a{
    text-transform: capitalize;
    background-color: #0F6212;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

/* SECTION 3 - UPCOMING EVENTS */
#section3{
    text-align: center;
    margin: 2% 0;
}
.upcoming-header h5{
    font-size: 20px;
}
.upcoming-header .line{
    width: 50%;
}
.upcoming-cont{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 2% auto;
}
.upcoming{
    margin: 2%;
}
.upcoming img{
    width: 100%;
}

/* SECTION 4 - SOCIAL MEDIA */
.media-cont{
    display: flex;
}
#section4{
    background-color: #03AF09;
    padding: 4% 7%;
    justify-content: center;
}
.social{
    display: flex;
    align-items: center;
    font-family: "Black-tower";
    color: #fff;
    font-weight: 100;
    margin: 0 auto;
}
.social i{
    color: #fff;
    font-size: 2.8rem;
}
.icon, .media{
    margin: 0 5px;
}
.social h4{
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.social h6{
    font-size: 10px;
    font-weight:lighter;
    letter-spacing: 2px;
}
.mob-social{
    display: none;
}

/* SECTION 5 - FOOTER */
#section5{
    background-color: #1E1D1D;
}
.footer{
    display: flex;
    align-items: center;
    padding: 3%;
    font-family: "Raleway";
    color: rgb(221, 220, 220);
    width: 75%;
    margin: 0 auto;
}
.contact, .about, .hr-line{
    margin: 0 4%;
}
.about h3, h4{
    text-transform: uppercase;
}
.about h3{
    color: #03AF09;
    font-weight: lighter;
}
.ourChurch{
    background-color: #03AF09;
    padding: 6px;
    display: inline-block;
    margin-bottom: 2%;
    border-radius: 2px;
}
.days{
    text-transform: uppercase;
}
.hr-line{
    height: 300px;
    border: .3px solid #03AF09;
}
.contact-header{
    text-transform: uppercase;
    font-family: "Black-tower";
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: lighter;
}
.contact-header span{
    display: block;
}
input, label{
    display: block;
}
label{
    text-transform: uppercase;
    margin: 3% 0;
}
input{
    width: 100%;
    padding: 4% 2%;
    background-color: #D6E5FA;
    border: none;
}
.checkbox{
    width: 20px;
    margin-right: 5px;
}
.check{
    display: flex;
    margin: 3% 0;
    align-items:baseline;
}
.submit{
    background-color: #03AF09;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: all ease-in-out .5s;
    cursor: pointer;
}
.submit:hover{
    background-color: #0F6212;
}

/* SECTION 6 - COPYRIGHT */
#copyright{
    text-align: center;
    font-family: "Raleway";
    padding: 2%;
    background-color: #1E1D1D;
    border-top: 4px solid #2b2a2a;
    color: rgb(221, 220, 220);
}
.copyright{
    text-transform: uppercase;
}
.topButton{
    position: fixed;
    bottom: 7%;
    right: 4%;
    color: #0F6212;
    /* background-c?olor: #0F6212; */
    border-radius: 100%;
    padding: 3%;
}
.topButton i{
    font-size: 1.5rem;
    display: none;
}