*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
@font-face {
    font-family: "Black-tower";
    src: url("Fonts/blacktower.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("Fonts/Raleway-Medium.ttf");
}

/* NAVIGATION */
#section1{
    position: absolute;
    top: 0;
    z-index: 9000;
    width: 100%;
}
.hamburger{
    display: none;
}
.nav-cont{
    display: flex;
    /* align-items: center; */
    background-color: transparent;
}
.nav-left img{
    width: 300px;
    margin-left: auto;
}
.nav-right{
    margin-left: auto;
    width: 70%;
}
.nav-right ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-list a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Raleway";
    letter-spacing: 1px;
    font-weight: bold;
    transition: all ease-in-out .5s;
    font-size: 15px;
}
.media-drop{
    display: block;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
}
.dropdown_item{
    margin: .5rem 0;
    /* display: none; */
    transition: all .3s ease-in-out;
}
.dropdown_item:hover{
    border-bottom: 2px solid #fff212;
}
.active a{
    color: #fff;
}
.nav-list i{
    font-weight: light;
    color: #fff;
    font-size: 1.2rem;
}
.nav-list{
    padding: 1.5%;
    transition: all ease-in-out .5s;
}
.nav-list:hover{
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 10px;
}
.nav-list a:hover{
    color: #fff;
    }
/* HEADER */

#newSlide{
    position:relative
}
#header{
    position: absolute;
    width: 100%;
    top: 0;
    /* background: rgb(2,71,2);
    background: linear-gradient(180deg, rgba(2,71,2,0.5) 0%, rgba(73,215,10,0.5) 0%, rgba(82,240,6,0.5) 43%, rgba(2,20,41,0.5) 100%); */
    text-align: center;
}
.home-img img{
    margin: 200px 0;
    width: 45%;
}

 /* SECTION 2 */
#section2{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 5%;
    background-color: #D6E5FA;
    align-items: center;
}
#section2 hr{
    height: 70px;
    width: .25%;
    background-color: #0F6212;
 }
.new{
    margin: 0 auto;
}
.new h5, .upcoming-header h5{
    text-transform: uppercase;
    color: #0F6212;
    font-family: "Black-tower";
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 100;
}
.new span a{
    text-transform: capitalize;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

/* SECTION 3 - UPCOMING EVENTS */
#section3{
    text-align: center;
    margin: 2% 0;
}
.upcoming-header h5{
    font-size: 20px;
}
.upcoming-header .line{
    width: 50%;
}
.upcoming-cont{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 2% auto;
}
.upcoming{
    margin: 2%;
}
.upcoming img{
    width: 100%;
}

/* SECTION 4 - SOCIAL MEDIA */
.media-cont{
    display: flex;
}
#section4{
    background: rgb(0,107,62);
    background: linear-gradient(90deg, rgba(0,107,62,1) 0%, rgba(2,20,41,1) 0%, rgba(82,240,6,1) 0%, rgba(51,157,19,1) 0%, rgba(28,93,29,1) 70%, rgba(66,118,27,1) 80%, rgba(255,242,18,1) 100%, rgba(27,89,30,1) 100%);
    justify-content: center;
    padding: 4%;
}
.social{
    display: flex;
    align-items: center;
    font-family: "Black-tower";
    color: #fff;
    font-weight: 100;
    margin: 0 auto;
}
.icon img{
    width: 40px;
}
.icon, .media{
    margin: 0 5px;
}
.social h4{
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.social h6{
    font-size: 12px;
    font-weight:lighter;
    letter-spacing: 2px;
}
.media-cont{
    justify-content: center;
}
.media{
    display: none;
}
.mob-social{
    display: block;
}
.mob-social h5{
    text-align: center;
    font-size: 17px;
    margin: 2%;
    color: rgb(229, 226, 226);
}
.mob-social h5 strong{
    font-size: 20px;
}
.social{
    margin: 0 10px;
}

/* SECTION 5 - FOOTER */
#section5{
    background-color: #1E1D1D;
}
.footer{
    display: flex;
    align-items: center;
    padding: 3%;
    font-family: "Raleway";
    color: rgb(221, 220, 220);
    width: 75%;
    margin: 0 auto;
}
.contact, .about, .hr-line{
    margin: 0 4%;
}
.about h3, h4{
    text-transform: uppercase;
}
.about h3{
    color: #fff212;
    font-weight: lighter;
    font-size: 20px;
}
.ourChurch{
    background-color: #ff0000;
    padding: 6px;
    display: inline-block;
    margin-bottom: 2%;
    border-radius: 2px;
    font-size: 20px;
}
.days{
    text-transform: uppercase;
}
.contact-header{
    text-transform: uppercase;
    font-family: "Black-tower";
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: lighter;
}
.contact-header span{
    display: block;
}
.contact input, label{
    display: block;
}
.contact label{
    text-transform: uppercase;
    margin: 3% 0;
}
.contact input{
    width: 100%;
    padding: 4% 2%;
    background-color: #D6E5FA;
    border: none;
}
.contact .checkbox{
    width: 20px;
    margin-right: 5px;
}
.contact .check{
    display: flex;
    margin: 3% 0;
    align-items:baseline;
}
.contact .submit{
    background-color: #ff0000;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: all ease-in-out .5s;
    cursor: pointer;
}
.contact .submit:hover{
    background-color: #910505;
}

/* SECTION 6 - COPYRIGHT */
#copyright{
    text-align: center;
    font-family: "Raleway";
    padding: 2%;
    background-color: #1E1D1D;
    border-top: 4px solid #2b2a2a;
    color: rgb(221, 220, 220);
}
.copyright{
    text-transform: uppercase;
}
.topButton{
    position: fixed;
    bottom: 7%;
    right: 4%;
    color: #006b3e;
    border-radius: 100%;
    padding: 3%;
}
.topButton i{
    font-size: 1.5rem;
    display: none;
}

/* GIVE PAGE */
#give_header{
    background: rgb(0,107,62);
    background: linear-gradient(90deg, rgba(0,107,62,1) 0%, rgba(2,20,41,1) 0%, rgba(82,240,6,1) 0%, rgba(51,157,19,1) 0%, rgba(28,93,29,1) 70%, rgba(66,118,27,1) 80%, rgba(255,242,18,1) 10%, rgba(27,89,30,1) 10%);
}
.header_flex{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    color: #fff;
}
#give p{
    font-size: 17px;
}
.header_cont h1{
    font-family: "Black-tower";
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3rem;
}
.header_cont1 p{
    font-family: "Raleway";
}
.header_cont2 img{
    width: 100%;
}
#account{
    width: 80%;
    margin: 50px auto;
}
.account1{
    margin: 30px 0;
    color: #006b3e;
    font-family: "Raleway";
}
.account_desc{
    text-transform: capitalize;
}
.account1 h3{
    font-size: 20px;
    font-weight: bold;
}
.account1 h3, .account_name{
    text-transform: uppercase;
}
/* INFORMATION */
#information_cont{
    width: 80%;
    margin: 50px auto;
    text-transform: capitalize;
    font-family: "Raleway";
}
#give_header{
    padding: 6rem 0 0;
}
#information_cont p{
    font-size: 15px;
}
.information_cont_header h5{
    text-align: center;
    color: #0F6212;
}
#inform_cont_p, .inform_cont h3{
    color: #ff0000;
}
#inform_cont_p{
    padding-right: 1rem;
}
.inform_cont p, .inform_cont li{
    color: #0F6212;
}
.inform_cont li{
    margin: 15px 0;
}
.inform_cont_div span{
    text-transform: uppercase;
}
.inform_cont_div span a{
    color: #ff0000;
    text-decoration: none;
}
.para-2{
    color: #006b3e;
}
.inform_cont{
    margin: 2rem 1rem;
}
.inform_cont_div{
    /* margin: 0 1rem; */
    width: 50%;
}
.inform_cont_div2 p{
    text-align: justify;
}
.para_about{
    text-transform:uppercase;
    font-weight: bold;
    color: #ff0000;
    display: block;
}
.inform_cont_flex{
    display: flex;
}
.inform_cont h3{
    font-size: 35px;
    font-weight: bold;
}
/* MEDIA */
#media #section1{
    background-color: #0F6212;
}
#media_header{
    padding: 6rem 0 1rem;
    background-color: #ECECEC;
}
.family_song{
    text-align: center;
    background-color: #fff;
    color: #006b3e;
    width: 80%;
    margin: 1rem auto;
    border-radius: 20px;
    padding: 4rem;
    font-family: "Raleway";
}
.family_song h5{
    text-transform: uppercase;
    font-family: "Black-tower";
    font-size: 2rem;
}
.family_song p{
    text-transform: capitalize;
    line-height: 3;
}
/* PRAYER */
#prayer_cont{
    text-transform: capitalize;
    font-family: "Raleway";
    color: #006b3e;
    padding: 2rem 0;
}
#prayer hr{
    color: #ff0000;
    background-color: #ff0000;
    margin: 1rem 0;
}
.prayer_text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
p{
    text-align: left;
}
.prayer_verse{
    display: flex;
}
.prayer_verse div{
    width: 50%;
    margin: 2rem;
    color: #ff0000;
}
.form{
    width: 80%;
    margin: 0 auto;
}
.form_flex{
    display: flex;
}
.form_flex_div{
    width: 50%;
}
.form_right{
    margin-left: 3rem;
}
.form_left{
    margin-right: 3rem;
}
.form_flex label, input, textarea{
    display: block;
    margin-bottom: .5rem;
    width: 100%;
}
.form_flex input{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #006b3e;
}
.form_flex #submit{
    background-color: #006b3e;
    width: 50%;
    border: none;
    color: #fff;
    text-align: center;
    margin: 1rem 0;
    transition: all .4s ease-in-out;
}
.form_flex #submit:hover{
    background-color: #024126;
    border-radius: 10px;
}

/* TESTIMONY */
#testimony .testify_cont{
    width: 100%;
    color: #fff;
    background-color: #006b3e;
    padding: 4rem;
}
#testimony .form_right, #testimony .tips{
    width: 100%;
}
.tips{
    margin: 2rem 0;
}
.location{
    text-transform: uppercase;
    color: #ff0000;
    font-weight: bold;
}
.contact_div{
    width: 50%;
}
.map iframe{
    width: 100%;
}
.location_para{
    margin: 2rem 0;
    line-height: 2;
}
/* EXECUTIVES  */
#executives{
    font-family: "Raleway";
}
.executives{
    text-align: center;
}
.excos_cont{
    display: flex;
    justify-content: center;
}
.excos{
    text-align: center;
    margin: 2rem;
}
.excos div{
    width: 200px;
    height:200px;
    margin: 0 auto;
    background-color: red;
    object-fit: cover;
}
.exco_item{
    /* margin: .3rem; */
}
.exco_name{
    margin: .5rem 0;
    color: #006b3e;
    text-transform: uppercase;
}
.exco_office{
    font-style: italic;
    color: #ff0000;
}
.excos img{
    max-width: 200px;
    max-height: 200%;
    margin: auto;
    display: block;
}